* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#Product-Container {
  width: 100%;
  max-width: 1440px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 200px;
  margin: 50px auto;
}

ul {
  display: flex;
  list-style: none;
  margin: 60px;
}
ul .one {
  font-size: 40px;
  font-weight: 700;
}
ul .two {
  font-size: 40px;
  font-weight: 700;
  color: rgb(197, 193, 193);
  margin: 0px 30px ;
  
}
ul .three {
  font-size: 40px;
  font-weight: 700;
  color: rgb(189, 182, 182);
}
.product-content {
  text-align: center;
}

.product-title {
  font-size: 18px;
  font-weight: 700;
}
.product-price {
  font-size: 16px;
  font-weight: 700;
}
